[Unit]
Description=Circle 1 (Che168) on Monday at 18:00 Minsk

[Timer]
OnCalendar=Mon *-*-* 18:00:00 Europe/Minsk
Unit=abcars-circle@che.service
AccuracySec=1s
RandomizedDelaySec=0
Persistent=false

[Install]
WantedBy=timers.target
